*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    margin: 2rem;
}
main {
    display: flex;
    box-shadow: 2px 0px 7px #635a5ac2;
    padding: 1.5rem 1rem;
    flex-direction: column;
    height: max-content;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 2rem;
    border-radius: .5rem;
}

h3{
    text-align: center;
}
.addStudentForm{
    display: flex;
    gap: 1rem;
    width: 60%;
    justify-content: flex-start;
}
input, select{
    border: 1px solid #b5adad;
    color: lightgray;
    flex: 1;
    flex-shrink: 0;
    padding: 8px;
    border-radius: .5rem;
    outline: none;
}
button{
    flex: 1;
    color: lightgray;
    background: rgb(14, 14, 233);
    flex: 1 0;
    padding: 1rem;
    border-radius: .5rem;
}

.headers, .studentData {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    width: 100%;
    justify-items: center; 
    align-items: center;
    gap: 1rem; 
    padding: 10px 0;
}

.headers{
    border-bottom: 1px solid lightgray;
}
.studentDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
}
/* Target the children directly to force equal width */
.studentList{
    display: flex;
    flex-direction: column;
}


.status{
    background-color: rgb(45, 143, 45);
    color: white;
    border-radius: 1rem;
    padding: 4px 8px;
    width: 60%;
    text-align: center;
    font-size: 16px;
}
.status.fail{
    background-color: rgb(195, 24, 24);
}
.action{
    padding: 4px 8px;
    background: red;
    color: white;
    cursor: pointer;
    border-radius: .5rem;
}
