*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 320px;
    background-color: #111;
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}
input{
    padding: 6px;
    /* margin: 4px 0x; */
    border-radius: .25rem;
     width: 100%;
     box-shadow: 2px 2px 7px 0px #b4adad8c;;

}
.buttons{
    display: flex;
    gap: .5rem;
  
}
button{
    background: lightblue;
    color: rgb(0, 0, 0);
    font-weight: 700;
    padding: .5rem 1rem;
    margin: 4px 0;
    border-radius: .5rem;

    width: 100%;

}

section{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    height: 100%;
    justify-content: space-between;
    /* align-items: ; */
    background-color: lightslategray;
    padding: .5rem;
    color: #111;
}
ul{
    list-style: none;
    padding-left: 0;
}

li{
    padding: 5px;
    margin-bottom: 10px;

}