*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 300px;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #111;
    color: #f0f0f0;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    width: 100%;

}

section{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: .5rem;
    gap: 1.5rem;
    border-radius: 1rem;
    background-color: #323131;

}

input{
    width: 100%;
    border-radius: .5rem;
    padding: .5rem;
}

.addSite{
    gap: .5rem;
    display: flex;
}
#buttons{
        gap: .5rem;
    display: flex;
}

button{
    padding: .5rem 1rem;
    background: lightcoral;
   border: none;
   font-weight: 600;
   border-radius: .5rem;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

li{
    padding: .5rem;
    border: 1px solid #111;
    display: flex;
    justify-content: space-between;
}
.deleteSite, .usagetime{
    cursor: pointer;
}
.deleteSite:hover{
    color: rgb(210, 47, 47);
}