@font-face {
    font-family: neue;
    src: url(./NeueMachina-Regular_DQCmjH1st.ttf);
}
@font-face {
    font-family: hell;
    src: url(./Helvetica_NTUXwLmxSC.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: hell;
}

body{
    background-color: #111;
    color: white;
}
nav{
    position: fixed;
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: .5rem 2rem;
    align-items: center;
    font-family: neue;
}

img{
    width: 35px;
}
.nav1{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}
.nav1 h3{
    font-size: 17px;
    font-family: neue;
    /* width: 50px; */
}
.nav2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.menu-bar{
    font-size: 20px;
}
#bootcamp{
    display: flex;
    position: relative;
    /* justify-content: center; */
    padding: .5rem 0 .5rem .5rem;
    border-radius: 8px;
    /* align-items:baseline; */
}
#bootcamp span{
    font-weight: 600;
}
.dropdown-menu {
    position: absolute;
    width: 200px;
    border: 1px solid rgb(247, 247, 243);
    padding: .5rem;
    background: black;
    display: none;
    flex-direction: column;
    gap: 1rem;
    border-radius: .5rem;
    top: 100%;
    right: 50%; 
    transform: translate(50%, 10px); 
    z-index: 10;
    opacity: 0;
    transition: all 2s ease-in;
}

/* Add the bridge here */
.dropdown-menu::before {
    content: "";
    position: absolute;
    top: -20px; /* Adjusted to safely cover the 10px gap */
    left: 0;
    width: 100%;
    height: 20px;
    background: transparent;
}
.dropdown-menu div{
        padding: .5rem;
}
.dropdown-menu div p{
    font-size: smaller;
}
.dropdown-menu div:hover{
    background-color: #111;

    border-radius: .5rem;
}

#bootcamp:hover{
    background: #243530;
}
#bootcamp:hover .dropdown-menu {
    display: flex;
    opacity: 1;
}
.nav2 i{
    font-size: 20px;
    vertical-align: bottom;
    position: relative;
    top: 2px;
}

.nav2 a{
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-size: 16px;
}

.nav3{
    display: none;
    font-size: 16px;
}

@media only screen and (max-width:600px) {
    .nav{
        padding: .5rem;
    }
    .nav1 h3{
        font-size: .75rem;
    }
    .nav img{
        width: 30px;
    }
    .nav2 a{
        display: none;
    }
    .nav3{
        display: flex;
        gap: 1rem;

    }
    #bootcamp{
        display: none;
    }
}