.box{
    width: 500px;
    height: 600px;
    border: 2px solid black;
}
img{
    width: 500px;
    /* filter: blur(5px); */
    /* filter: brightness(.7) contrast(5) grayscale(0.5) sepia();  */
    /* filter: sepia(1); */
    /* filter: invert(.16);m */
    filter: opacity(0.5);

    height: 600px;
    object-fit: cover;
    display: block;
   
}