
        .completed{
            text-decoration: line-through;
        }
        form{
            display: flex;
            justify-content: center;
            margin: 10px;
        }
        .completed {
  text-decoration: line-through;
  opacity: 0.6;
}
.todo {
  transition: all 0.2s ease;
}
.todo:hover {
  background: rgb(237, 252, 196);
}

        .taskForm{
            display: flex;
            gap: .5rem;
            align-items: center;
        }
        #submit{
            background-color: rgb(0, 93, 186);
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 10px;
            box-shadow: 1px 1px #45444440;  
        }
        #task{
            outline: none;

        }
        .container{
            display: flex;
            justify-content: center;
            align-content: center;
        }

        .tasks{
            /* background: #ccc; */
            display: flex;
            flex-direction: column;
            gap: 4px;
           /* height: 80vh; */
           height: auto;
           width: 40vw;


        }
        .todo{
            border: 2px solid black;
            border-radius: 5px;
            margin:5px;
            display: flex;
            padding: 10px;
            background: rgb(246, 255, 208);
            justify-content: space-between;
        }
        .deleteTask:hover{
            cursor: pointer;
        }
        .deleteTask:hover .fa-trash{
           color: rgb(187, 65, 65);
        }
