*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
background-color: #020202;
    color: white;
font-family: 'Rajdhani', sans-serif;
    background-image: 
                linear-gradient(rgba(0, 168, 255, 0.03) 1px, transparent 1px),
                linear-gradient(90deg, rgba(0, 168, 255, 0.03) 1px, transparent 1px);
 background-size: 40px 40px;
}

        ::-webkit-scrollbar { width: 8px; }
        ::-webkit-scrollbar-track { background: #000; }
        ::-webkit-scrollbar-thumb { background: #005f99; }

@keyframes bootup {
    0%{
        opacity: 0; transform: scale(0.95);
    }
    100%{
        opacity: 1; transform: scale(1);
    }
}
.statusWindow{
    animation: bootup 0.6s ease-out forwards;
    backdrop-filter: blue(5px);
    border: 1px solid rgba(0,168,255,0.3);
}

#xpBar {
    width: 100%;
    font-family: Arial;
    color: #4da3ff;       /* blue text like screenshot */
}

.xp-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 14px;
}

.progress-container {
    width: 100%;
    height: 8px;          /* thin bar */
    border: 1px solid #4da3ff;
    background-color: #111; /* dark background like screenshot */
    border-radius: 3px;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    width: 0%;           /* updated via JS */
    background-color: #4da3ff;
    transition: width 0.3s ease;
}
