*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222427;
}
.calculator{
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    width: 280px;
    align-items: center;
    gap: 1rem;
    box-sizing: border-box;
    box-shadow: 20px 20px 40px rgba(0, 0, 0,0.4),
                -20px -20px 40px rgba(255,255,255,0.07);
    padding: 1.5rem;
}
.answer{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 120px;
    padding: .5rem;
    box-shadow: inset 8px 8px 16px rgba(0, 0, 0,0.4), 
    inset -8px -8px 16px rgba(255,255, 255, 0.07);
    text-align: right;
    overflow-x: auto; 
    overflow-y: hidden;
    white-space: nowrap;
    align-items: center;
    border-radius: 1rem;
}

.answer::-webkit-scrollbar {
    height: 8px;
}

.answer::-webkit-scrollbar-thumb {
    background: #ff9200;  /* visible orange thumb */
    border-radius: 10px;
}

.answer::-webkit-scrollbar-track {
    background: #333;
}


.answertext {
    display: inline-block;
    white-space: nowrap;
    flex-shrink: 0; /* safe */
    font-size: 4rem;
    color: white;
}


#numbers{
    border: 2px solid rgb(237, 231, 231);
    outline: none;
    /* padding: 1rem; */
    border-radius: .5rem;
}
.optinputs{
    display: flex;
    /* padding: 10px; */
    color: #131313;
}
.numbers{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    gap: .5rem;
}
button.zero{
   grid-column: 1/3;
   width: 100%;
}
.btn{
    width: 50px;
    text-align: center;
    height: 50px;
    font-size: large;
    background: #222427;
    color: white;
    border: none;
    border-radius: 1rem;
    place-content: center;
    box-shadow: 20px 20px 40px rgba(0, 0, 0,0.4), -20px -20px 40px rgba(255,255, 255, 0.07);
}

.btn:hover{
    cursor: pointer;
    color: #ff9200;
        box-shadow: 20px 20px 40px inset rgba(0, 0, 0,0.4), -20px -20px 40px inset rgba(255,255, 255, 0.07);
}
.btn-special{
    color: #666d77;
}

.operators{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.btn-operator{
    background: #ff9200;
}
.btn-operator:hover{
    background-color: #ffad02;
    color: white;
}