        .demo{
            border: 1px dashed #ccc;
            padding: 12px;
            margin: 12px 0;
            min-height: 120px;
        }
                .box{
            padding: 12px;
            border: 1px solid #ddd;
            background: #ccc;
        
        }
#div5{
    display: flex;
}
form{
    display: flex;
}
input:checked + label{
    color: green;
    font-size: 1rem;
    border: 2px solid red;
}