:root{
    /* Background Colors */
    --bg-primary-color: #0c0c0c;
    --bg-fill-color:#fdfdfc;
    /* Text Colors */
    --text-primary-color: #f0f0f0;
    /* Spacing variables */
    --space-xs:.25rem;
    --space-sm: .5rem;
    --space-md: 1rem;
    --space-lg: 1.25rem;
    --space-xl: 1.5rem;
    --space-2xl: 1.75rem;
    --space-3xl: 2rem;
    --space-xxl: 2.5rem;

    /* Border colors */
    --border-primary-color: #333;
    --border-secondary-color:#2f2d2d;
    --border-accent-color:#f0f0f0;

    /* Border Radius */
    --border-radius-xs:.25rem;
    --border-radius-sm: .5rem;
    --border-radius-md: 1rem;
    --border-radius-lg: 1.25rem;
    --border-radius-xl: 1.5rem;
    --border-radius-2xl: 1.75rem;
    --border-radius-3xl: 2rem;
    --border-radius-xxl: 2.5rem;


}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main, section{
    width: 100%;
    height: 100%;
}
section{
    display: flex;
    flex-direction: column;
    padding: var(--space-xxl);
    gap: var(--space-lg);
    height: 100%;

}
section .infos{
    width: 100%;
    display: flex;
    justify-content:space-between ;
}

.info{
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-radius-md);
}

.board{
    border: 2px solid var(--border-accent-color);
    flex-grow: 1;
    display: grid;
}
.gridChild{
    border: 1px solid var(--border-secondary-color);
    /* box-sizing: border-box; */
    /* display: block; */
    text-align: center;

}

.fill{
    background-color: var(--bg-fill-color);
}