* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
i,
svg {
  pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.kick-pad {
  background: lightblue;
}
.snare-pad {
  background: lightcoral;
}
.hihat-pad {
  background: lightsalmon;
}
.kick-pad.active {
  background: rgb(83, 212, 255);
}
.snare-pad.active {
  background: rgb(234, 92, 92);
}
.hihat-pad.active {
  background: rgb(242, 124, 78);
}

.hihat-track,
.snare-track,
.kick-track {
  display: flex;
  align-items: center;
  width: 70vw;
  justify-content: space-between;
}
.hihat,
.snare,
.kick {
  display: flex;

}

.sequencer{
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.controls{
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0rem 2rem;
    gap: .5rem;
}
.controls button{
    padding: 1rem;
    border: none;
    background-color: #111;
    color: white;
    cursor: pointer;
    transition: all 0.5 ease;
}
.pad{
    transform: all 0.5s ease;
}
.play{
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background: #111;
    border: none;
    cursor: pointer;
    color: white;
    margin-top: 3rem;
}

select{
    padding: 1rem;
    font-size: 1.5rem;
    margin-left: 1rem;
}
.mute-control{
    display: flex;
    gap: 1rem;
}