*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    background-color: #111;
}

.box{
    height: 200px;
    width: 200px;
    background-color: crimson;
}

@media only screen and (width<=500px) {
    .box{
        background: lightblue;
        width: 100px;
        height: 100px;

        border-radius: 50%;
    }

}