    .card{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: .5rem;
        border: 1px solid gray;
        border-radius: .5rem;
    }
.weathercards {
    display: grid;
    grid-template-columns: repeat(2, minmax(80px, 1fr));
}
.searchbar{
    grid-column: 1/3;
    display: flex;
    gap: .5rem;
 padding: .5rem;
    border: 1px solid gray;
        border-radius: .5rem;

}

.forecastcards{
    display: flex;
    overflow: auto;
    gap: 1rem;
}
#cityname{
    outline: none;
}
.forecastcards::-webkit-scrollbar{
    display: none;
}
.forecard{
    display: flex;
    justify-content: center;
    width: 60px;
    display: flex;
    flex-direction: column;
    padding: .5rem;
            border: 1px solid gray;
        border-radius: .5rem;
}

@media (max-width: 350px) { /* Edge-case for extreme small screens, adjust as needed */
    .weathercards {
        grid-template-columns: 1fr; /* fallback to one column for very small screens */
    }
}

